@use "../../styles/global" as *;

.event-card {
    width: 100%;
    height: 380px;
    width: 320px;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #00000020;
    z-index: 0;

    display: grid;
    grid-template-rows: [col-start] 1fr [col-end] 1fr;

    .poster {
        background: #10132C url(/assets/images/color-festival.jpg);
        background-size: cover;
        background-position: center;
    }

    .content {
        gap: .5rem;
        display: flex;
        padding: 1.5rem;
        flex-direction: column;

        .date {
            color: #ff0053;
        }

        h1 {
            hyphens: auto;
            font-size: clamp(1.3em, 5vw, 1.5em);
        }

        .tags {
            gap: 1rem;
            display: flex;
            align-items: center;

            p {
                hyphens: auto;
                color: $primary-theme;
            }
        }
        
        .description {
            color: #555;
            height: 38px;
            hyphens: auto;
            display: -webkit-box;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .footer {
            display: flex;
            align-items: center;
            padding: .5rem 0 0 0;
            justify-content: space-between;

            button {
                all: unset;
                gap: .5rem;
                cursor: pointer;
                font-weight: 900;
                display: flex;
                white-space: nowrap;
                align-items: center;
                // padding: 1.5rem 0 0 .5rem;
                
                svg {
                    width: 1.7rem;
                    height: 1.7rem;
                }
    
                &:hover {
                    color: $primary-theme !important;
                }
            }

            svg {
                cursor: pointer;
                &:hover {
                    color: $primary-theme !important;
                }
            }
        }

    }
}


#app.dark .event-card {
    box-shadow: none;
    background: $dark;
    outline: 1px solid #ffffff25;
    // background: #000 linear-gradient(315deg, #0A0F20, #10132C);


    &::before {
        content: "";
        right: 1rem;
        bottom: -1rem;
        width: 7rem;
        height: 7rem;
        filter: blur(5.5rem);
        position: absolute;
        border-radius: 50%;
        // background: $primary-theme linear-gradient(315deg, #ff0053, $primary-theme);
        z-index: -1;
    }

    .content {
        h1 { color: #fff; }
        .description { color: #ccc; }
        .footer {
            button { 
                color: #fff; 
                &:hover svg { color: $primary-theme; }
            }
            svg { color: #fff; }
        }
    }
}