.community-profile {

    .community-profile-header {
        margin: auto;
        max-width: 1280px;

        .community-profile-banner {

            .cover {
                height: 150px;
                background: #ff0053;
            }

            section {
                gap: 1rem;
                display: flex;
                padding: 1rem;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }

            .profile {
                gap: .5rem;
                display: flex;
                align-items: center;

                .image {
                    width: clamp(3rem, 5vw, 4rem);
                    height: clamp(3rem, 5vw, 4rem);
                    background: #9900ff;
                    border-radius: 50%;
                }

                h1 { font-size: clamp(1.3em, 5vw, 2em); }
            }

            .buttons {
                gap: .5rem;
                display: flex;

                button {
                    all: unset;
                    cursor: pointer;
                    font-size: .9em;
                    text-align: center;
                    padding: .8rem 1.5rem;
                    border-radius: 50rem;

                    &:nth-child(1) { border: 1px solid #555; background: none; }
                    &:nth-child(2) { border: 1px solid #fff; background: #fff; }
                }
            }
        }

        .navigation-tabs {
            display: flex;

            button {
                all: unset;
                padding: 1rem;
                cursor: pointer;

                &:nth-child(1) { color: #9900ff; font-weight: 900; }
            }
        }

    }


    .view {
        margin: auto;
        padding: 1rem;
        max-width: 1280px;

        &.feed-view {
            display: grid;

            .post {
                gap: .5rem;
                display: grid;
                padding: 1rem;

                .post-header {
                    gap: .5rem;
                    display: flex;
                    align-items: center;

                    .post-header-image {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        background: #ff0053;
                    }

                    h1 {
                        font-size: 1.2em;
                    }
                }

                .post-content {
                    h1 {
                        font-size: 1.3em;
                    }
                }

                .post-footer {
                    gap: 2rem;
                    display: flex;
                    align-items: center;

                    button {
                        all: unset;
                        gap: .5rem;
                        display: flex;
                        cursor: pointer;
                        padding: .5rem 0;
                        align-items: center;
                        border-radius: 50rem;
                    
                        &:nth-child(1) svg:hover{
                            color: #fff;
                            cursor: pointer;
                            border-radius: 50%;
                            background: #9900ff;
                        }

                        &:hover { 
                            color: #9900ff;
                        }
                    }
                }
            }
        }

    }

}




@media (min-width: 1285px) {
    .community-profile-banner {
        .cover {
            margin-top: 1rem;
            border-radius: 1rem;
        }
    }
}



#app.dark .community-profile {

    .community-profile-banner {
        section {
            h1 { color: #fff; }
            p { color: #ccc; }
        
            button:nth-child(1) { color: #fff; border: 1px solid #ddd; }
            button:nth-child(2) { color: #000; }
        }
    }

    .navigation-tabs button {
        color: #fff;

        &:hover { color: #9900ff; font-weight: 900; }
    }

    .post {
        .post-header {
            h1 { color: #fff; }
            p { color: #ccc; }
        }

        .post-content {
            h1 { color: #fff; }
            p { color: #ccc; }
        }

        .post-footer {
            button {
                color: #ccc;
                &:hover { color: #9900ff; }
            }
        }
    }

}