@use "../global" as *;

#navbar {
    width: 100%;
    display: flex;
    padding: 1rem;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

    section {
        &:nth-child(1) {
            gap: .5rem;
            display: flex;
            align-items: center;

            h1 {
                cursor: pointer;
                font-size: 1.6em;
                font-family: $secondary-font;
            }

            svg {
                width: 1.8rem;
                height: 1.8rem;
                cursor: pointer;
            }

            ul {
                top: 0;
                left: 0;
                gap: 2rem;
                width: 100%;
                height: 100vh;
                max-width: 0;
                background: #fff;
                align-items: center;
                border-right: 1px solid #ddd;
                position: absolute;
                overflow: hidden;
                transition: .5s ease;
                
                &.active {
                    max-width: 250px;
                    padding: 3rem 1rem;
                }

                li {
                    cursor: pointer;
                    list-style: none;
                    padding: 1rem;
                    white-space: nowrap;

                    &:hover { color: #9900ff !important; }
                    &.active { color: #9900ff !important; font-weight: 900; }
                }

                .closeBtn {
                    top: 1rem;
                    right: 1rem;
                    position: absolute;
                }
            }
        }

        &:nth-child(2) {
            gap: 1rem;
            display: flex;
            align-items: center;

            .buttons {
                gap: 1rem;
                top: 4rem;
                right: 0;
                flex-direction: column;
                align-items: center;
                position: absolute;
                // background: $dark;
                background: #fff;
                transition: 0.2s ease;
                border: 1px solid #9900ff;
                display: flex;
                padding: 0 2rem;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                
                &.active {
                    opacity: 1;
                    padding: 2rem;
                    max-height: 150px;
                }

                button {
                    all: unset;
                    color: #555;
                    cursor: pointer;
                    border-radius: 50rem;
                    padding: .5rem 1rem;
                    
                    &:nth-child(2) {
                        color: #fff;
                        font-size: .9em;
                        background: #9900ff linear-gradient(-315deg, #a02de2, #5600e0);
                    }
                }
            }

            svg {
                width: 1.7rem;
                height: 1.7rem;
                cursor: pointer;
            }

            .profile {
                width: 2rem;
                height: 2rem;
                padding: .5rem;
                background: #eee;
                border-radius: 1rem;
                border: 1px solid #9900ff;
            }

            .auth-user {
                cursor: pointer;
                background: #eee;
                border-radius: 50rem;
                border: 1px solid #ddd;
                padding: .2rem 1rem .2rem .2rem;
                position: relative;

                .user-info {
                    gap: .5rem;
                    display: flex;
                    align-items: center;

                    .profile-image {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50rem;
                        background: #ff0053;
                    }

                    h1 {
                        font-size: 1em;
                    }
                }

                .auth-menu {
                    right: 0;
                    top: 3rem;
                    opacity: 0;
                    max-height: 0;
                    overflow: hidden;
                    background: #fff;
                    position: absolute;
                    transition: .5s ease;
                    
                    &.active {
                        opacity: 1;
                        max-height: 257px;
                        padding: 2rem 1rem;
                        border: 1px solid #ddd;
                    }
                
                    ul {
                        li {
                            list-style: none;
                            cursor: pointer;
                            white-space: nowrap;
                            padding: .5rem 1rem;

                            &:hover {
                                font-weight: 900;
                                color: #9900ff;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 600px) {
    #navbar section {

        &:nth-child(2) {
            .buttons { 
                all: unset;
                gap: 1rem;
                display: flex; 
                display: flex;
                align-items: center;

                &.active { all: unset; }
            }

            .profile { display: none;  }
        }

    }
}


@media (min-width: 1000px) {
    #navbar {
        margin: auto;
        max-width: 1280px;

        section {
            &:nth-child(1) {
                gap: 2rem;

                h1 { font-size: 1.7em; }

                ul, ul.active {
                    all: unset;
                    gap: 2rem;
                    display: flex;
                    position: relative;
                    align-items: center;

                
                    li {
                        all: unset;
                        cursor: pointer;
                    }

                    .closeBtn { display: none; }
                }

                svg { display: none; }
            }

            &:nth-child(2) {
                .buttons {
                    button {
                        &:nth-child(2) {
                            padding: .7rem 1.5rem;
                        }
                    }
                }

                svg { 
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
}



#app.dark #navbar {
    background: $darker;

    section {
        h1 { color: #fff; }

        ul {
            border: none;
            background: $dark;
        
            li { color: #fff; }
            svg { color: #fff; }
        }

        .buttons {
            background: $darker;   
            button { color: #fff; }
        }

        svg { color: #ccc; }

        .profile {
            background: $dark;
            border: 1px solid #9900ff;
        }

        .auth-user {
            background: $dark;
            border: 1px solid #ffffff20;

            .auth-menu {
                background: $dark;
                position: absolute;
                padding: 2rem 1rem;
                border: 1px solid #ffffff30;
            
                ul li:hover {
                    color: #9900ff;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    #app.dark #navbar section ul {
        background: none;
    }
}