#about-page {

    .content {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        max-width: 1280px;
    }

    .container {
        ul li {
            margin: .5rem;
        }
    }

}