#about-page {
    height: 100%;
    overflow-y: scroll;

    .content {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        max-width: 1280px;

        h1 {
            margin: 1rem 0;
        }

        .section {
            gap: .5rem;
            margin: 1rem 0;
            display: grid;
        }

        ul li {
            margin: .5rem 1rem;
        }

        .members {
            gap: 2rem;
            display: flex;
            align-items: center;

            .team-member {
                max-width: 300px;

                img {
                    border-radius: 50%;
                }

                p {
                    color: #555;
                    margin-top: .5rem;
                }
            }
        }
    }

}






#app.dark #about-page {
    .content {

        h1 {
            color: #fff;
        }

        .section {
            h2 { color: #fff; }
            p { color: #ccc; }
        }

        ul li {
            color: #ccc;
        }

        .members {
            .team-member {
                p {
                    color: #fff;
                }
            }
        }
    }

}