@use "../global" as *;

#community-page {
    height: 100%;
    overflow: auto;
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: space-between;

    .community-banner {
        display: flex;
        padding: 0 1rem;
        align-items: center;
        margin-bottom: 2rem;
        justify-content: center;
        background: $darker url(/assets/images/community.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;
        
        &::before {
            content: "";
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            z-index: -1;
            position: absolute;
            background-image: linear-gradient(to right, #000, transparent);
        }

        .container {
            width: 100%;
            min-height: 300px;
            max-height: 400px;
            aspect-ratio: 16/9;
            display: flex;
            align-items: center;
            justify-content: start;
            max-width: 1280px;
            padding: clamp(1.5rem, 5vw, 4rem);
            position: relative;
            overflow: hidden;

            .content {
                gap: 1rem;
                display: grid;
                max-width: 500px;
                place-items: start;

                h1 {
                    color: #fff;
                }

                p {
                    color: #ccc;
                }
                
                button {
                    all: unset;
                    color: #fff;
                    cursor: pointer;
                    font-size: .9em;
                    text-align: center;
                    padding: 1rem 1.5rem;
                    border-radius: 50rem;
                    background-color: $primary-theme;
                    // background: $primary-theme linear-gradient(-315deg, #a02de2, #5600e0);
                }
            }
        }
        
    }


    .search-area {
        display: flex;
        overflow: hidden;
        flex-direction: column;

        .title {
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-size: clamp(1.3em, 5vw, 1.5em);
        }

        .search-result-area { display: none; }

        &.active {
            top: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            min-height: 600px;
            background: #fff;
            transition: 1s ease;
            z-index: 9999;

            .search-result-area {
                height: 100%;
                width: 100%;
                margin: auto;
                display: flex;
                max-width: 1280px;
                overflow-y: scroll;
                flex-direction: column;
                
                .event-list {
                    gap: 1rem;
                    padding: 1rem;
                    display: grid;
                    height: 100%;
                    place-content: start;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                }

                .event-card {
                    width: unset;
                    min-width: unset;
                }
            }

            .input-area .closeBtn { display: block; }
        }

        .input-area {
            width: 100%;
            margin: auto;
            padding: 1rem;
            max-width: 1280px;
            position: relative;

            .searchBtn {
                top: 50%;
                left: 2rem;
                color: #555;
                position: absolute;
                transform: translateY(-50%);
            }

            .closeBtn {
                top: 50%;
                right: 2rem;
                color: #555;
                display: none;
                cursor: pointer;
                position: absolute;
                transform: translateY(-50%);
            }
            
            input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 1em;
                padding: 1.1rem;
                background: #fff;
                padding-left: 3.5rem;
                border-radius: .5rem;
                border: 1px solid #00000025;

                &:focus { border: 1px solid $primary-theme; }
            }
        }
    }


    .main {
        padding: 1rem;
        display: grid;
        width: 100%;
        margin: auto;
        max-width: 1280px;

        .title-bar {
            display: flex;
            align-items: center;

            .title {
                font-size: clamp(1.5em, 5vw, 2em);
            }
        }

        .community-placeholder {
            gap: 1rem;
            display: flex;
            padding: 3rem 0;
            align-items: start;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: #555;
                font-size: clamp(1.3em, 5vw, 1.5em);
            }

            button {
                all: unset;
                color: #fff;
                cursor: pointer;
                font-size: .9em;
                text-align: center;
                padding: 1rem 1.5rem;
                border-radius: 50rem;
                background-color: $primary-theme;
            }
        }
        
        .community-container {
            gap: 1rem;
            display: grid;
            margin-top: 3rem;
            
            .top-bar {
                display: flex;
                padding: 1rem 0;
                align-items: center;
                justify-content: space-between;

                h1 {
                    color: #555;
                    font-size: 1.4em;
                }

                button {
                    all: unset;
                    color: #fff;
                    cursor: pointer;
                    font-size: .95em;
                    text-align: center;
                    border-radius: 50rem;
                    padding: .7rem 1.2rem;
                    background: $primary-theme;
                }
            }

            .community-list {
                gap: .7rem;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
        }
    }
}


#app.dark #community-page {
    background: $darker;

    .search-area {
        .input-area {
            svg {
                color: #999;
            }
            
            input {
                color: #fff;
                background: $dark;
                border: 1px solid #ffffff20;

            }
        }
    }

    .main {
        .title { color: #fff; }

        .community-container {
            .top-bar {
                h1 { color: #ccc; }
            }

            .community-list {
                .community {
                    background: $dark;
                    border: 1px solid #ffffff10;

                    .header h1 { color: #fff; }
                    .main p { color: #ccc; }
                    .footer p { color: #ccc; }

                }
            }
        }
    }


    .community-placeholder {
        h1 {
            color: #fff;
        }
    }

}





// COMMUNITY TOPIC PAGE 

.community-topic-page {

    .community-container {
        margin: auto;
        padding: 1rem;
        max-width: 1280px;

        .top-bar {
            gap: 1rem;
            display: flex;
            margin-bottom: 2rem;
            align-items: center;

            svg {
                width: 2rem;
                height: 2rem;
                cursor: pointer;
            }

            h1 {
                font-size: 1.5em;
            }
            
        }
    }

    .community-grid {
        gap: .5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}




#app.dark .community-topic-page .community-container .top-bar {
    h1 {
        color: #fff;
    }

    svg {
        color: #fff;
    }
}