@use "../global" as *;

.event-page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    overflow-x: hidden;

    .event-banner {
        display: flex;
        padding: 0 1rem;
        align-items: center;
        margin-bottom: 2rem;
        justify-content: center;
        background: $darker url(/assets/images/banner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;
        
        &::before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            background: #00000000 linear-gradient(to bottom right, $darker, transparent);
        }

        .container {
            width: 100%;
            min-height: 300px;
            max-height: 400px;
            aspect-ratio: 16/9;
            display: flex;
            align-items: center;
            justify-content: start;
            max-width: 1280px;
            padding: clamp(1.5rem, 5vw, 4rem);
            position: relative;
            overflow: hidden;

            .content {
                gap: 1rem;
                display: grid;
                max-width: 500px;
                place-items: start;

                h1 {
                    color: #fff;
                }

                p {
                    color: #ccc;
                }
                
                button {
                    all: unset;
                    color: #fff;
                    cursor: pointer;
                    font-size: .9em;
                    text-align: center;
                    padding: 1rem 1.5rem;
                    border-radius: 50rem;
                    background: $primary-theme;
                }
            }
        }
        
    }


    .search-area {
        display: flex;
        overflow: hidden;
        flex-direction: column;

        &.active {
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            position: absolute;
            background: #fff;
            transition: 1s ease;

            .search-result-area {
                height: 100%;
                padding: 1rem;
            }
        }

        .input-area {
            width: 100%;
            margin: auto;
            padding: 1rem;
            max-width: 1280px;
            position: relative;

            svg {
                top: 50%;
                left: 2rem;
                color: #555;
                position: absolute;
                transform: translateY(-50%);
            }
            
            input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 1em;
                padding: 1.1rem;
                background: #fff;
                padding-left: 3.5rem;
                border-radius: .5rem;
                border: 1px solid #00000025;

                &:focus { border: 1px solid $primary-theme; }
            }
        }
    }


    .event-container {
        display: grid;
        overflow: hidden;
        position: relative;
        
        .title-bar {
            width: 100%;
            margin: auto;
            max-width: 1280px;
            display: flex;
            align-items: center;
            padding: 1rem 1rem 0 1rem;
            justify-content: space-between;

            h1 {
                font-family: $secondary-font;
                font-size: clamp(1.6em, 5vw, 2em);
            }

            .navigation {
                gap: .5rem;
                display: flex;
                align-items: center;

                button {
                    all: unset;
                    color: #555;
                    width: clamp(1.8rem, 5vw, 2.5rem);
                    height: clamp(1.8rem, 5vw, 2.5rem);
                    font-size: .9em;
                    cursor: pointer;
                    border-radius: 50rem;
                    border: 1px solid #555;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
            }
        }

        .event-grid-container {
            margin: auto;
            width: 100%;
            overflow: hidden;
            max-width: 1280px;
            position: relative;

            &::after {
                content: "";
                top: 0;
                right: 0;
                width: 20%;
                height: 100%;
                position: absolute;
                background-image: linear-gradient(to right, transparent, #fff);
                z-index: 9;
            }

            .event-grid {
                gap: 1rem;
                display: flex;
                padding: 1rem 0;
                align-items: center;
                overflow-x: scroll;
                scrollbar-width: none;
                scroll-behavior: smooth;
                scroll-snap-type: x mandatory;
                position: relative;
                width: 100%;
                
                .event-card {
                    &:first-child { margin-left: 1rem; }
                    &:last-child { margin-right: 7rem; }
                }
            }

            .loading-event {
                width: 100%;
                max-width: 340px;
                min-width: 340px;
                min-height: 430px;
                border-radius: 1.5rem;
                border: 1px solid #ddd;
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                background: #f3f3f3;
                justify-content: center;

                &:first-child {
                    margin-left: 1rem;
                }

                h1 {
                    z-index: 99;
                    color: #555;
                    font-size: 1.3em;
                }

                .slider {
                    bottom: 0;
                    width: 300%;
                    height: 200px;
                    position: absolute;
                    transform: rotate(-45deg);
                    animation: slide 1s 1s infinite linear;
                    background-image: linear-gradient(transparent, #fff, #fff, transparent);
                }

                @keyframes slide {
                    0% { transform: translate(-35rem, -35rem) rotate(-45deg); }
                    100% { transform: translate(35rem, 35rem) rotate(-45deg); }
                }
            }


            .no-event-placeholder {
                gap: 1rem;
                width: 100%;
                padding: 1rem;
                max-width: 340px;
                min-height: 430px;
                margin-left: 1rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                border-radius: 1.5rem;
                justify-content: center;
                border: 1px solid #ddd;

                p {
                    color: #555;
                    hyphens: auto;
                    max-width: 250px;
                    text-align: center;
                }

                button {
                    all: unset;
                    color: #fff;
                    cursor: pointer;
                    font-size: .9em;
                    text-align: center;
                    padding: 1rem 1.5rem;
                    border-radius: 50rem;
                    background: $primary-theme;
                }
            }
        }

    }


    .event-view {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(15rem);
        background: #ffffffaa;
        position: fixed;
        z-index: 9999;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            backdrop-filter: blur(1rem);
            background: #ffffffaa;
            z-index: -1;
        }

        .closeBtn {
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            position: absolute;
        }

        .container {
            width: 100%;
            max-width: 500px;
            min-height: 500px;
            background: #fff;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            border: 1px solid #00000010;
            overflow: hidden;

            .banner {
                height: 150px;
                background: #eee;
                background-size: cover;
                background-position: center;
                background-image: url(/assets/images/banner.jpg);
            }

            .top-bar {
                display: flex;
                padding: 1rem;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #eee;

                div {
                    h1 {
                        font-size: 1.3em;
                    }
                    p {
                        color: $primary-theme;
                    }
                }

                button {
                    all: unset;
                    font-size: .85em;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    padding: 1rem 1.5rem;
                    background: $primary-theme;
                    border-radius: 50rem;
                }
            }

            .tags {
                gap: 1rem;
                display: flex;
                padding: 1rem;
                align-items: center;

                p {
                    color: $primary-theme;
                }
            }

            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 1rem 1rem 1rem;
                justify-content: space-between;
                
                p {
                    color: #555;
                    hyphens: auto;
                }

                ul {
                    margin: 1rem 0;

                    li {
                        color: #555;
                        margin: .5rem 0;
                        list-style: none;
                    }
                }
            }
        }
    }

}


#app.dark .event-page  {
    background: $darker;

    .search-area {
        background: $darker;
        .input-area {

            svg {
                color: #999;
            }
            
            input {
                color: #fff;
                background: $dark;
                border: 1px solid #ffffff20;

            }
        }

        .search-result-area {
            background: $darker;
        }
    }

    .event-container {
        .title-bar {
            h1 { color: #fff; }
            button { 
                color: #ccc; 
                border: 1px solid #ccc;
            }
        }

        .event-grid-container::after {
            content: "";
            background: none;
            background-image: linear-gradient(to right, transparent, $darker) !important;
        }

        .loading-event {
            background: $dark;
            border: 1px solid #ffffff20;

            h1 { color: #fff; }

            .slider {
                background-image: linear-gradient(transparent, #ffffff15, #ffffff15, transparent);
            }
        }
    }

    .event-view {
        background: #00000060;
        background-size: cover;
        background-position: center;
        
        &::before {
            background: #00000090;
            backdrop-filter: blur(2rem);
        }

        .closeBtn {
            color: #fff;
        }

        .container {
            background: $dark;
            border: 1px solid #ffffff20;

            .top-bar {
                border-bottom: 1px solid #ffffff20;

                h1 { color: #fff; }
                button {
                    color: #fff;
                    cursor: pointer;
                    background: $primary-theme;
                }
            }

            .content {
                p { color: #ccc; }
                ul li { color: #eee; }
            }
        }
    }


    .no-event-placeholder {
        background: $dark;
        border: 1px solid #ffffff20;

        h1 { color: #fff; }
        p { color: #ccc; }
    }
}