@use "../global" as *;

 #home-page {
    width: 100%;
    
    #header {
        width: 100%;
        display: flex;
        height: 100vh;
        // max-height: 800px;
        flex-direction: column;
        background-size: 30rem;
        background-image: url(/grid.svg);
        
        main {
            height: 100%;
            display: flex;
            padding: 1.5rem;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 0;

            &::before {
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                background-image: linear-gradient(to top, #fff, transparent);
            }

            .content {
                width: 100%;
                display: flex;
                max-width: 600px;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h1 {
                    text-align: center;
                    font-family: $secondary-font;
                    font-size: clamp(2em, 5vw, 3em);
                }

                p {
                    hyphens: auto;
                    margin: 1rem 0;
                    text-align: center;
                }

                button {
                    all: unset;
                    color: #fff;
                    font-size: .9em;
                    cursor: pointer;
                    text-align: center;
                    padding: 1rem 2rem;
                    border-radius: 50rem;
                    background: $primary-theme;
                    // background: $primary-theme linear-gradient(-315deg, #a02de2, #5600e0);
                    // background: $primary-theme linear-gradient(-315deg, #a02de2, #5600e0);
                    // background: $primary-theme linear-gradient(-315deg, $primary-theme, #0099ff);
                }
            }
        }


        .service-board {
            padding: 3rem 0;
            background: #fff;

            .service-grid {
                width: 100%;
                margin: auto;
                max-width: 1280px;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;

                .service {
                    gap: 1rem;
                    padding: 1rem;
                    display: grid;
                    max-width: 300px;

                    h1 {
                        font-size: 1.4em;
                    }

                    p {
                        color: #555;
                        hyphens: auto;
                        font-size: .9em;
                    }
                }
            }
        }

    }


    .home-banner {
        background: #00000090 url(/assets/images/home_banner.jpg);
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;

        .banner {
            margin: auto;
            height: 400px;
            max-width: 1280px;
            display: flex;
            padding: 2rem;
            align-items: flex-end;
            justify-content: start;

            h1 {
                color: #fff;
                hyphens: auto;
                max-width: 800px;
                font-size: clamp(1.5em, 5vw, 2.5em);
            }
        }
    }


    .testimonial-board {
        display: grid;
        padding: 5rem 0;

        .top-bar {
            gap: .5rem;
            display: flex;
            padding: 1rem;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            p {
                hyphens: auto;
            }
        }

        .testimonials {
            width: 100%;
            margin: auto;
            padding: 1rem 0;
            overflow-y: hidden;
            max-width: 1280px;
            position: relative;
            
            .list {
                gap: 1rem;
                display: flex;
                overflow-x: auto;
                scrollbar-width: none;
                scroll-behavior: smooth;
            }

            &::before {
                content: "";
                right: 0;
                width: 20%;
                height: 100%;
                position: absolute;
                background: #00000000 linear-gradient(to right, transparent, white);
            }

            .testimony {
                min-width: 320px;
                border-radius: 1.5rem;
                background: #fff;
                border: 1px solid #ddd;
                // box-shadow: 0 .3rem .5rem #eee;

                &:first-child {
                    margin-left: 1rem;
                }

                .topBar {
                    gap: .8rem;
                    display: flex;
                    padding: 1rem;
                    align-items: center;

                    .profile {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        background: $primary-theme;
                    }

                    div {
                        display: grid;
                        
                        h1 {
                            font-size: 1.2em;
                        }
                        p {
                            color: #555;
                            font-size: .9em;
                        }
                    }
                }

                .message {
                    color: #555;
                    hyphens: auto;
                    padding: 0 1.5rem 1.5rem 1.5rem;
                }
            }
        }

        .navigation {
            gap: 1rem;
            width: 100%;
            display: flex;
            padding: 1rem;
            margin: auto;
            max-width: 1280px;
            align-items: center;
            justify-content: flex-end;

            button {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
                border-radius: 50%;
                border: 1px solid #000;
            }
        }
    }


    .qnb {
        padding: 1rem;
        margin-bottom: 5rem;

        .content {
            gap: 1rem;
            margin: auto;
            max-width: 1280px;
            display: grid;
            
            h1 {
                font-size: clamp(1.5em, 5vw, 1.7em);
            }

            .dropdown-list {
                display: grid;

                .dropdown-container {
                    display: flex;
                    padding: 1rem 0;
                    flex-direction: column;
                    border-bottom: 1px solid #ddd;

                    .question {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        padding: .5rem;
                        justify-content: space-between;
                        
                        p {
                            font-weight: 900;
                            font-size: 1.3em;
                        }
                    }

                    .answer {
                        color: #555;
                        max-height: 0;
                        padding: 0 .5rem;
                        overflow: hidden;
                        transition: .5s ease;
                        font-size: clamp(1em, 2vw, 1.2em);

                        &.active {
                            max-height: initial;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 900px) {

    #home-page #header {
        min-height: unset;
        height: calc(100vh - 70px);
    }
    
    #home-page .service-board {
        .service-grid {
            display: grid !important;
            place-items: center;
            grid-template-columns: [col-start] 1fr [col-2] .2rem [col-3] 1fr [col-4] .2rem [col-end] 1fr;
            
            .bar {
                width: .1rem;
                height: 5rem;
                background: #eee;
            }
            
            .service {
                width: 100%;
                text-align: start;
                text-align: center;
                max-width: unset !important;
            }
        }
    }

}





#app.dark #home-page {
    #header {
        background-image: url(/dark-grid.svg);
        
        main {
            &::before {
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                background-image: linear-gradient(to top, $darker, $darker, transparent);
            }
            
            .content {
                h1 { color: #fff; }
                p { color: #ccc; }
            }
        }
    }

    .service-board {
        background: $darker;

        .service-grid {
            .bar {
                background: #ffffff40
            }
            .service {
                h1 { color: #fff; }
                p { color: #ccc; }
            }
        }
    }

    .testimonial-board {
        .top-bar {
            h1 { color: #fff; }
            p { color: #ccc; }
        }

        .testimonials::before {
            background: #00000000 linear-gradient(to right, transparent, $darker);
        }

        .testimonials .testimony {
            box-shadow: none;
            background: $dark;
            border: 1px solid #ffffff10;

            .topBar {
                h1 { color: #fff; }
                p { color: #ccc; }
            }

            .message { color: #ccc; }
        }

        .navigation {
            button { color: #ccc; border: 1px solid #ccc; }
        }
    }

    .qnb {
        h1 { color: #fff; }

        .content {
            .dropdown-container {
                border-bottom: 1px solid #ffffff20;
            }

            .question {
                p { color: #ccc; }
                svg { color: #fff; }
            }

            .answer {
                color: #ccc;
                hyphens: auto;
            }
        }
    }
}



// COMMUNITY BOARD 



.community-board {
    gap: 2rem;
    width: 100%;
    display: flex;
    padding: 4rem 0;
    background: #f9fdf9;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title-bar {
        gap: 1rem;
        display: grid;
        text-align: center;

        h1 { 
            color: #000; 
            font-size: clamp(1.3em, 5vw, 2em);
        }
    
        p {
            color: #555;
        }
    }

    .community-grid {
        gap: .5rem;
        width: 100%;
        padding: 1rem;
        display: grid;
        max-width: 1280px;
        aspect-ratio: 16/9;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    
        .community {
            width: 100%;
            max-height: 100%;
            min-height: 200px;
            background: #fff;
            border-radius: 1.5rem;
            transform: rotate(0) !important;
            outline: 5px solid #fcf9fd;
            background-size: cover;
            background-position: center;
            position: relative;
            box-shadow: inset 0 -3rem 5rem $dark;
            filter: saturate(40%);
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
            }

            &:nth-child(1) { background-image: url(/assets/images/gaming.jpg); }
            &:nth-child(2) { background-image: url(/assets/images/coding.jpg); }
            &:nth-child(3) { background-image: url(/assets/images/music.jpg); }
            &:nth-child(4) { background-image: url(/assets/images/engineer.jpg); }
            &:nth-child(5) { background-image: url(/assets/images/science.jpg); }
            &:nth-child(6) { background-image: url(/assets/images/food&drinks.jpg); }

            h1 {
                left: 50%;
                width: 100%;
                bottom: 1rem;
                color: #fff;
                font-size: 1.3em;
                position: absolute;
                text-align: center;
                transform: translateX(-50%);
                z-index: 99;
            }
        }
    }

    button {
        all: unset;
        color: #fff;
        cursor: pointer;
        padding: 1rem 1.5rem;
        border-radius: 50rem;
        background: $primary-theme;
        // background: $primary-theme linear-gradient(-315deg, #a02de2, #5600e0);
    }
}


@media (min-width: 600px) {
    
    .community-board {
        .community-grid {
            max-height: 600px;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);

            .community {
                transform: rotate(unset) !important;
            }
        }
    }

}


#app.dark .community-board {
    background: $dark;

    .title-bar {
        h1 { color: #fff; }
        p { color: #ccc; }
    }

    .community {
        // background: $darker;
        outline: 5px solid $dark;
    }
}