@use "../global" as *;

#profile-page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        gap: 1rem;
        display: grid;
        position: relative;
        z-index: 1;

        section {
            width: 100%;
            margin: auto;
            max-width: 1280px;

            &:nth-child(1) {
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .profile {
                    gap: 1rem;
                    display: flex;
                    align-items: center;

                    .image {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        background-color: $primary-theme;
                        background-size: cover;
                        background-position: center;
                    }
                }

                button {
                    all: unset;
                    cursor: pointer;
                    font-size: .9em;
                    background: #fff;
                    border-radius: 50rem;
                    padding: 1rem 1.5rem;
                    border: 1px solid #000;
                }

            }

            &:nth-child(2) {
                display: grid;
                
                .buttons {
                    display: flex;
                    overflow-x: scroll;
                    align-items: center;
                    scrollbar-width: none;
                }

                button {
                    all: unset;
                    cursor: pointer;
                    min-width: 60px;
                    text-align: center;
                    white-space: nowrap;
                    padding: 1rem 1.5rem;

                    &.active {
                        color: $primary-theme;
                        font-weight: 900;
                        margin-left: 1rem;
                        border-top-left-radius: .7rem;
                        border-top-right-radius: .7rem;
                        border-bottom: 2px solid $primary-theme;
                    }
                }
            }
        }
    }


    .main {
        gap: 1rem;
        margin: auto;
        padding: 1rem;
        display: grid;
        height: 100%;
        width: 100%;
        max-width: 1280px;
        
        .tab {
            gap: 2rem;
            height: 100%;
            display: flex;
            overflow: hidden;
            flex-direction: column;

            .container {
                gap: 1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                
                .top-bar {
                    display: flex;
                    align-items: center;
                    padding-bottom: 1rem;
                    justify-content: space-between;
                    border-bottom: 1px solid #ddd;

                    h1 { font-size: 1.1em; }

                    .navigation {
                        gap: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
            
                        button {
                            all: unset;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 1.6rem;
                            height: 1.6rem;
                            cursor: pointer;
                            border-radius: 50%;
                            border: 1px solid #000;
                        }
                    }
                }

            }
        }

        .overview-tab { 
            padding: 1rem;
            gap: .5rem !important; 
        }

        .overview-tab .info-card {
            gap: 1rem;
            display: grid;
            padding: 1.5rem;
            max-width: 700px;
            background: #fff;
            border-radius: 1rem;
            border: 1px solid #00000020;

            .top-bar {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                justify-content: space-between;
                border-bottom: 1px solid #00000020;

                h1 {
                    font-size: 1.3em;
                }

                svg {
                    cursor: pointer;
                }
            }

            .body {
                p {
                    color: #555;
                    hyphens: auto;
                }

                ul {
                    gap: .5rem;
                    display: grid;

                    li {
                        gap: .5rem;
                        display: flex;
                        color: #999;    
                    }
                }
            }
        }


        .edit-tab {

            .form-container {
                gap: 2rem;
                display: flex;
                // align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 1rem;

                .bio-form {
                    textarea {
                        height: 100px;
                        padding: 1rem;
                        outline: none;
                        font-size: 1em;
                        resize: none;
                        border-radius: .5rem;
                        background: #f3f3f3;
                        border: 1px solid #ddd;
                    }
                }

                .password-form {
                    .password-area {
                        gap: 1rem;
                        display: grid;
                        grid-template-columns: [col-start] 1fr [col-end] 1fr;
                    }
                }
            }

            .form {
                gap: 1rem;
                width: 100%;
                display: grid;
                max-width: 650px;
                padding-bottom: 2rem;
                border-bottom: 1px solid #ddd;

                h1 {
                    font-size: 1.3em;
                }
            }

            .input-area {
                gap: .5rem;
                display: grid;

                input {
                    padding: 1rem;
                    outline: none;
                    font-size: 1em;
                    border-radius: .5rem;
                    background: #f3f3f3;
                    border: 1px solid #ddd;
                }
            }

            .name-area {
                gap: 1rem;
                display: grid;
                grid-template-columns: [col-start] 1fr [col-end] 1fr;
            }

            .delete-form {
                a {
                    font-weight: 600;
                    color: #ff0053;
                    text-decoration: none;
                }
            }

            button {
                all: unset;
                color: #fff;
                font-size: .9em;
                margin-top: 1rem;
                max-width: 130px;
                text-align: center;
                padding: 1rem;
                border-radius: .6rem;
                // background: #eeee;
                // border: 1px solid #ddd;
                // pointer-events: none;
                
                // &.active {
                cursor: pointer;
                // pointer-events: all;
                background: $primary-theme;
                // }
            }

        }

    }
}











#app.dark #profile-page {
    background: $darker;

    .header {
        background: $darker;

        section {
            &:nth-child(1) {
                .profile {
                    .image {
                        border-radius: 50%;
                    }

                    h1 { color: #fff; }
                    p { color: #ccc; }
                }

                button {
                    color: #fff;
                    background: none;
                    border: 1px solid #fff;
                }
            }

            &:nth-child(2) {
                button {
                    color: #fff;

                    &.active {
                        color: $primary-theme;
                    }
                }
            }
        }
    }

    .main {
        .info-card {
            background: $dark;
            
            .top-bar {
                border-bottom: 1px solid #ffffff20;

                h1 { color: #fff; }
                svg { color: #fff; }
            }

            .body {
                p { color: #ccc; }
                ul li {
                    color: #fff;    
                    b { color: #ccc; }
                }
            }
        }
    }

    .tab {
        .container {
            .top-bar {
                border-bottom: 1px solid #ffffff40;

                h1 { 
                    color: #fff;
                    font-size: 1.1em; 
                }

                .navigation {
                    button {
                        color: #fff;
                        border: 1px solid #fff;
                    }
                }
            }

            .content {
                .community {
                    background: $dark;
                    border: 1px solid #ffffff20;
                }

            }
        }
    }

    .edit-tab {

        .form {
            border-bottom: 1px solid #ffffff30;

            p {
                color: #fff;
            }
        }

        h1 {
            color: #fff;
        }

        button {
            // background: #ffffff15;
            // border: 1px solid #ffffff20;
        }

        .input-area {
            label {
                color: #fff;
            }
            input {
                color: #fff;
                background: $dark;
                border: 1px solid #ffffff20;
            }
        }

        .bio-form {
            textarea {
                color: #fff;
                background: $dark;
                border: 1px solid #ffffff20;
            }
        }
    }
}