@font-face {
    font-family: roboto-condensed;
    src: url(/assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: roboto-condensed-bold;
    src: url(/assets/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: titillium;
    src: url(/assets/fonts/TitilliumWeb-Bold.ttf);
}

$dark: #1b282e;
// $dark: #1b202e;
$darker: #0a1920;
// $darker: #0A0F20;
$primary-theme: #28b132;

$primary-font: roboto-condensed;
$secondary-font: roboto-condensed-bold;
$ternary-font: titillium;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font, roboto, sans-serif;
}