@use "./global" as *;
@use "./form";

@use "./modules/navbar";
@use "./modules/footer";

@use "./cards/job_card";
@use "./cards/event_card";
@use "./cards/community_card";

@use "./boards/event_board";
@use "./boards/community_board";

@use "./views/home_view";
@use "./views/job_view";
@use "./views/event_view";
@use "./views/community_view";

@use "./creators/communityCreator.scss";


#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    position: relative;

    #main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        position: relative;

        &::-webkit-scrollbar { width: 2px }
        &::-webkit-scrollbar-thumb { background: #9900ff linear-gradient(#9900ff, #0099ff); }
    
        .dimmer {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: #ffffffcc;
            backdrop-filter: blur(1rem);
        }
    }

    &.dark {
        background: $darker;

        #main .dimmer {
            background: #0a0f20ce;
        }
    }
}


#themeBtn {
    right: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    border: 2px solid #000;
}

#app.dark #themeBtn {
    color: #fff;
    background: none;
    border: 2px solid #fff;
}




.profile-view {
    width: 100%;

    .header {
        gap: 1rem;
        display: grid;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background: #fff url(/light-background.svg);
        
        &::before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: transparent linear-gradient(transparent, transparent, #fff, #fff);
            z-index: -1;
        }
        
        section {
            width: 100%;
            margin: auto;
            max-width: 1280px;

            &:nth-child(1) {
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .profile {
                    gap: 1rem;
                    display: flex;
                    align-items: center;

                    .image {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        background: #ff0053;
                    }
                }

                button {
                    all: unset;
                    padding: 1rem;
                    cursor: pointer;
                    background: #fff;
                    border-radius: .5rem;
                    border: 1px solid #000;
                }

            }

            &:nth-child(2) {
                padding: 0 1rem;

                button {
                    all: unset;
                    cursor: pointer;
                    padding: 1rem 1.5rem;

                    &:nth-child(1) {
                        background: #fff;
                        border-top-left-radius: .7rem;
                        border-top-right-radius: .7rem;
                    }
                }
            }
        }
    }
}


#app.dark .profile-view {
    .header {
        background: #0A0F20 url(/dark-background.svg);
        &::before { background: transparent linear-gradient(transparent, transparent, #0A0F20, #0A0F20); }
    
        section {
            &:nth-child(1) {
                .profile {
                    .image {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        background: #ff0053;
                    }

                    h1 { color: #fff; }
                }

                button {
                    color: #fff;
                    background: none;
                    border: 1px solid #fff;
                }
            }
    
            &:nth-child(2) {
                button {
                    color: #fff;

                    &:nth-child(1) {
                        color: #fff;
                        background: #10132C;
                    }
                }
            }
        }
    }
}