@use "../../../../styles/global" as *;


.community-profile {

    .community-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;

        h1 {
            font-size: 2em;
        }
    }

    .community-profile-header {
        margin: auto;
        max-width: 1280px;

        .community-profile-banner {

            .cover {
                background: $primary-theme;
                background-size: cover;
                background-position: center;
                aspect-ratio: 16/9;
                width: 100%;
                max-height: 200px;
            }

            section {
                gap: 1rem;
                display: flex;
                padding: 1rem;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }

            .profile {
                gap: .5rem;
                display: flex;
                align-items: center;

                .image {
                    width: clamp(3rem, 5vw, 4rem);
                    height: clamp(3rem, 5vw, 4rem);
                    background: $primary-theme;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }

                h1 { font-size: clamp(1.2em, 5vw, 1.5em); }
            }

            .buttons {
                gap: .5rem;
                display: flex;

                button {
                    all: unset;
                    height: 40px;
                    cursor: pointer;
                    font-size: .9em;
                    text-align: center;
                    padding: 0 1rem;
                    border-radius: 50rem;

                    &:nth-child(1) { 
                        border: 1px solid #555; background: none; 
                        &:hover {
                            color: #fff;
                            background: #000;
                        }
                    }
                    &.joinBtn { color: #fff; background: $primary-theme; border: 1px solid $primary-theme; }
                    
                    &.optionBtn {
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #000;
                        position: relative;

                        // &:hover {
                        //     color: #fff;
                        //     background: #000;
                        // }

                        .option-menu {
                            right: 0;
                            top: 3rem;
                            background: #fff;
                            position: absolute;
                            border-radius: 1rem;
                            border: 1px solid #00000050;

                            li {
                                padding: 1rem;
                                cursor: pointer;
                                list-style: none;
                                text-wrap: nowrap;

                                &:hover {
                                    color: #000;
                                    background: #ff0053;
                                    border-radius: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .navigation-tabs {
            display: flex;
            border-bottom: 1px solid #eee;

            button {
                all: unset;
                padding: 1rem;
                cursor: pointer;

                &.active { 
                    color: $primary-theme; 
                    font-weight: 900; 
                    border-bottom: 2px solid $primary-theme;
                }
            }
        }

    }


    .view {
        margin: auto;
        width: 100%;
        padding: 1rem;
        max-width: 1280px;

        &.feed-view {
            gap: .5rem;
            width: 100%;
            display: grid;

            .placeholder {
                gap: 1rem;
                display: flex;
                margin: 2rem 0;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h1 {
                    color: #555;
                    font-size: 1.5em;
                    text-align: center;
                }

                button {
                    all: unset;
                    color: #fff;
                    font-size: .9em;
                    cursor: pointer;
                    padding: 1rem 1.5rem;
                    border-radius: 50rem;
                    background: $primary-theme;
                }
            }

            .post {
                gap: 1rem;
                width: 100%;
                display: grid;
                padding: 1rem;
                border-bottom: 1px solid #ddd;

                .post-header {
                    gap: .5rem;
                    display: flex;
                    align-items: center;

                    .post-header-image {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        background-color: $primary-theme;
                        background-size: cover;
                        background-position: center;
                    }

                    div {
                        gap: .2rem;
                        display: grid;

                        h1 {
                            font-size: 1.1em;
                        }
                        p {
                            color: #555;
                            font-size: .9em;
                            hyphens: auto;
                        }
                    }
                }

                .post-content {
                    gap: .5rem;
                    display: grid;

                    h1 {
                        font-size: 1.1em;
                        font-family: $secondary-font;
                    }
                    p {
                        color: #555;
                        font-size: 1em;
                    }
                    .poster {
                        aspect-ratio: 16/9;
                        border-radius: 1rem;
                        background-size: cover;
                        background-position: center;
                    }
                }

                .post-footer {
                    gap: 2rem;
                    display: flex;
                    align-items: center;

                    button {
                        all: unset;
                        gap: .5rem;
                        display: flex;
                        cursor: pointer;
                        padding: .5rem 0;
                        align-items: center;
                        border-radius: 50rem;

                        &.active{
                            color: $primary-theme;
                        }
                    
                        &:hover { 
                            color: $primary-theme;
                        }
                    }
                }
            }
        }

        &.about-view {
            gap: 2rem;
            display: grid;

            .top-bar {
                gap: 1rem;
                display: flex;
                align-items: center;

                .profile {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: $primary-theme;
                    background-size: cover;
                    background-position: center;
                }

                h1 {
                    font-size: 1.3em;
                }
            }

            .content {
                gap: 1rem;
                display: grid;

                h1 {
                    font-size: 1.3em;
                }

                p {
                    color: #555;
                    hyphens: auto;
                }

                .details {
                    gap: 1rem;
                    display: flex;
                    max-width: 400px;
                    flex-direction: column;
                    justify-content: space-between;

                    div {
                        gap: .5rem;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        &.feed-view-desktop { display: none; }
        &.about-view-desktop { display: none; }

        // .about-view-mobile { display: none; }
        // .feed-view-mobile { display: none; }
        
        &.about-view-mobile {
            padding: 2rem;
            margin-top: 1rem;
            max-width: 600px;
            border: 1px solid #ddd;
        }

    }

}


@media (min-width: 950px) {
    .community-profile {

        .community-profile-header {
            .navigation-tabs { display: none; }
        }

        .view-container {
            width: 100%;
            margin: auto;
            display: grid;
            max-width: 1280px;
            grid-template-columns: [col-start] 1fr [col-end] .5fr;
            
            .view.about-view-desktop { 
                height: 100%;
                display: grid;
                align-content: start;
            }

            .about-view-mobile { display: none; }
            .feed-view-mobile { display: none; }

            .feed-view-desktop {
                display: grid;
            }

        }
    }
}


@media (min-width: 1285px) {
    .community-profile-banner {
        .cover {
            margin-top: 1rem;
            border-radius: 1rem;
        }
    }
}



#app.dark .community-profile {
    .feed-view {
        .placeholder {
            h1 { color: #fff; }
        }

        .post {
            border-bottom: 1px solid #ffffff30;

            .poster {
                outline: 1px solid #ffffff30;
            }
        }
    }
    .about-view {

        .top-bar {
            h1 { color: #fff; }
        }

        .content {
            h1 { color: #fff; }
            p { color: #ccc; }
        }

        .details div {
            color: #fff;
            svg { color: #fff; }
        }

    }
}



#app.dark .community-profile {

    .community-loading {
        h1 {
            color: #fff;
        }
    }

    .community-profile-banner {
        section {
            h1 { color: #fff; }
            p { color: #ccc; }
        
            button:nth-child(1) { 
                color: #fff; 
                border: 1px solid #ffffff75; 
                
                &:hover {
                    color: #000;
                    background: #fff;
                }

            }
            .optionBtn {
                color: #fff;
                border: 1px solid #ffffff80;

                .option-menu {
                    background: $dark;
                    border-radius: 1rem;
                    border: 1px solid #ffffff20;

                    li {
                        color: #fff;

                        &:hover {
                            color: #fff;
                            border-radius: 1rem;
                            background: #ff0053;
                        }
                    }
                }
            }
        }
    }

    .navigation-tabs {
        border-bottom: 1px solid #ffffff20;

        button {
            color: #fff;   
            &:hover { color: $primary-theme; font-weight: 900; }
        }
    }

    .about-view-mobile {
        border: 1px solid #ffffff20;
    }

    .post {
        .post-header {
            h1 { color: #fff; }
            p { color: #ccc; }
        }

        .post-content {
            h1 { color: #fff; }
            p { color: #ccc; }
        }

        .post-footer {
            button {
                color: #ccc;
                &:hover { color: $primary-theme; }
            }
        }
    }


}